.title1{
	color: darkred;
	font-size: 50px;
}
.title2{
	color: whitesmoke;
	background: black;
	font-size:70px;
}
.paragrafi1{
	color: white;
	background: black;
	font-size: 20px;
}
span{
	color: darkred;
	font-size: 25px;
}
.span2{
	font-size: 60px;
}
.span3{
	color: darkred;
	font-size: 25px;
}
ul{
	color: darkred;
	background: black;
	font-size: 25px;
}
.ika{
	color: darkred;
	font-size: 30px;
}
.shorena{
	color: darkred;
}
.hanan{
	color: darkred;
}
.age{
	background: black;
	font-size: 30px;
	color: darkred;
}
.paragrafi2{
	color: whitesmoke;
}
.paragrafi5{
	color: whitesmoke;
	font-size: 35px;
}
.getit{
	color: darkred;
	font-size: 45;
}